@import "tailwindcss";
@import "../styles/theme.css";

/* scroll suave entre seções */
html {
  scroll-behavior: smooth;
}

/* reset básico */
* {
  box-sizing: border-box;
}

body {
  background-color: #09090b; /* zinc-950 */
  color: #f4f4f5; /* zinc-100 */
}
